// https://loading.io/css/

.ldsdualring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 0, 0);
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: ldsdualring 1.2s linear infinite;
}
@keyframes ldsdualring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
